<div class="span12">
    <div class="widget">
        <div class="widget-header">
            <i class="icon-bookmark"></i>
            <h3>Important Shortcuts</h3>
        </div>
        <!-- /widget-header -->
        <div class="widget-content" style="padding: 10px 0px 0px">
            <div class="shortcuts">
                <a href="@Url.Action("Index", "Table")" class="shortcut"><i class="shortcut-icon icon-th-large"></i><span class="shortcut-label">Tables</span> </a>
                <a href="@Url.Action("Index", "User")" class="shortcut"><i class="shortcut-icon icon-user"></i><span class="shortcut-label">Users</span> </a>
                <a href="@Url.Action("Index", "Role")" class="shortcut"><i class="shortcut-icon icon-list-alt"></i><span class="shortcut-label">Roles</span> </a>
                <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-signal"></i><span class="shortcut-label">Reports</span> </a>
                <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-comment"></i><span class="shortcut-label">Comments</span> </a>
                <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-file"></i><span class="shortcut-label">Notes</span> </a>
                <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-picture"></i><span class="shortcut-label">Photos</span> </a>
                <a href="javascript:;" class="shortcut"><i class="shortcut-icon icon-tag"></i><span class="shortcut-label">Tags</span> </a>
            </div>
            <!-- /shortcuts -->
        </div>
        <!-- /widget-content -->
    </div>
</div>
