@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = Resources.Localization.SHARED_ERROR_ERROR;
}

<hgroup class="title">
    <h1 class="error">@Resources.Localization.SHARED_ERROR_ERROR</h1>
    <h2 class="error">@Resources.Localization.SHARED_ERROR_MESSAGE</h2>
</hgroup>